.bachground{
    background-image: url('../public/img6.jpg');
}
.phone{
    background-image: url('../public/img7.jpg');
}
.ghori{
    background-image: url('../public/img8.jpg');
}
.headphone{
    background-image: url('../public/img9.jpg');
}